@import './assets/base/reset';
@import './assets/base/fonts';
@import './assets/utils/variables';
@import './assets/utils/mixins';

header{
    background-color: $black;
    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.4rem;
        .nav-menu{
            display: flex;
            justify-content: space-evenly;
            gap: 4.2rem;
            .nav-item{
                @media screen and(max-width:888px) {
                    margin-bottom: 0.1rem;
                }
                a,
                a:link,
                a:visited{
                    @media screen and(max-width:888px) {
                        color: $white;
                        font-size: 24px;
                    }
                    color: $white;
                    font-family: $family;
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
                .nav-link{
                    transition: 0.5s ease;
                    position: relative;
                    &::after{
                        @media screen and(max-width:888px) {
                            background-color: $white;
                        }
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background-color: $white;
                        bottom: -1px;
                        left: 0;
                        transform: scaleX(0);
                        transform-origin: center;
                        transition: transform 0.25s linear;
                        content: "";
                    }
                    &:hover::after{
                        transform-origin: center;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

.hamburger{
    display: none;
    cursor: pointer;
    .bar{
        display: block;
        width: 2.4rem;
        height: 0.4rem;
        margin: 0.4rem auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background: $white;
    }
    @media screen and (max-width:888px) {
        display: block;
    }
}

// ---------- Animations Hamburger ----------

.hamburger.active .bar:nth-child(2){
    @media screen and(max-width:888px) {
        opacity: 0;
    }
}

.hamburger.active .bar:nth-child(1){
    @media screen and(max-width:888px) {
        transform: translateY(8px) rotate(45deg);
    }
}

.hamburger.active .bar:nth-child(3){
    @media screen and(max-width:888px) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.nav-menu.active{
    @media screen and(max-width:888px) {
        left: 0;
    }
}

.nav-menu.active::after{
    @media screen and(max-width:888px) {
        content: "";
        background-color: rgba(51,49,54,.4549019608);
        height: 100vh;
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
}

.nav-menu{
    @media screen and(max-width:888px) {
        position: fixed;
        z-index: 2;
        left:-100%;
        top: 200px;
        gap: 0;
        flex-direction: column;
        background: black;
        width: 100%;
        transition: 0.3s;
        min-height: 23.5rem;
        padding: 4.5rem 2.4rem;
    }
}

// ----------- Main & Cards -----------

body{
    background-color: rgb(68, 68, 68);
    overflow-y: hidden;
    @media screen and(max-width:888px) {
        overflow-y: scroll;
    }
    main{
        @include displayFlexCenter;
        gap: 4.2rem;
        padding: 8rem;
        margin-top: 5.9rem;
        background-color: $bodyBG;
        .highlightCharacter{
            width: 100rem;
            border: 1px solid black;
            border-radius: 0.8rem;
            margin-top: -5.9rem;
            padding: 2rem;

            @include displayFlexCenter;

            flex-direction: column;

            background-color: $cardbg;
            box-shadow: $shadowBox;
            transition: all 0.2s ease-in-out;
            @media screen and(max-width:888px) {
                min-width: 35rem;
                max-width: 60rem;
            }
            &:hover{
                box-shadow: $bigShadowBox;
                -webkit-transform: translateY(-3px);
                transform: translateY(-3px);
            }
            .highlightTitle{
                font-family: $family;
                margin-bottom: 2rem;
                font-size: 2.4rem;
                color: red;
                text-shadow: 0 1px 0 #CCCCCC,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15),
                2px 2px 2px rgba(206,0,0,0);
                }
            }
            .highlightCard{
                width: 50%;
                @include displayFlexCenter;
                gap: 2rem;
                @media screen and(max-width:888px) {
                    flex-direction: column;
                }
                .underContainer{
                    @include displayFlexCenter;
                    flex-direction: column;
                    gap: 2rem;
                    .highlightName{
                        font-family: $family;
                    }
                    .highlightImage{
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        transition: all 0.2s ease-in-out;
                        &:hover{
                            box-shadow:
                            1px 1px #1b2329,
                            2px 2px #1b2329,
                            3px 3px #1b2329;
                            -webkit-transform: translateX(-3px);
                            transform: translateX(-3px);
                        }
                    }
                    .highlightShortDescription{
                        font-family: $family;
                        font-size: 1.2rem;
                        font-weight: 600;
                        overflow-y: auto;
                    }
                }
                .highlightDescription{
                    font-family: $family;
                    text-align: justify;
                    font-size: 1.6rem;
                    max-height: 20rem;
                    overflow-y: auto;
                }
            }
        }
    }

// ----------- Form -----------

.rendered-form{
    border: 1px solid black;
    border-radius: 0.8rem;
    margin-top: -5.9rem;
    padding: 2rem;
    width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: $shadowBox;
    background-color: $cardbg;
    .field-formName{
        display: flex;
        flex-direction: column;
        .formName{
            font-family: $family;
            font-size: 1.6rem;
            font-weight: 600;
        }
    }
    .field-formShortDescription{
        display: flex;
        flex-direction: column;
        .formShortDescription{
            font-family: $family;
            font-size: 1.6rem;
            font-weight: 600;
        }
    }
    .field-formDescription{
        display: flex;
        flex-direction: column;
        .formDescription{
            font-family: $family;
            font-size: 1.6rem;
            font-weight: 600;
        }
    }
    .field-formPicture{
        display: flex;
        flex-direction: column;
        .formPicture{
            font-family: $family;
            font-size: 1.6rem;
            font-weight: 600;
        }
    }
    .field-formBtn{
        #formBtn{
            font-family: $family;
            font-size: 1.2rem;
            color: $black;
            text-decoration: none;
            width: 8rem;
            height: 4rem;
            border: 2px solid $black;
            border-radius: 0.8rem;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            &:hover{
                color: green;
                transform: scale(1.05);
            }
        }
    }
}