// ---------- Colors ----------

$black: #000;
$white: #fff;

$hamburger: rgba(51,49,54,.4549019608);

$bodyBG: rgb(68, 68, 68);
$cardbg: rgba($color: #fff, $alpha: 0.75);

$shadowBox: gray 0.4rem 0.4rem 0.4rem;
$bigShadowBox: gray 0.6rem 0.6rem 0.6rem;

// ---------- Fonts ----------

$family: Arial, Helvetica, sans-serif;